%section.new-play
  %header
    %h1 New Play

  = form_for @play do |f|

    %div.row
      %div.large-6.large-centered.small-9.small-centered.columns
        %label XML File
    %div.row
      %div.large-6.large-centered.small-9.small-centered.columns
        = f.file_field :full_text

    %div.row
      %div.large-6.large-centered.small-6.small-centered.columns
        = f.submit "Upload File"
